/* Middle Navbar */
.middle-navbar {
    display: flex;
    justify-content: left;
    background-color: #021427;
    padding: 10px 20px;
    width: 100%;
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    transition: top 0.3s ease;
    margin-left: 10px;
}

/* Navbar Links */
.middle-navbar .navbar-links {
    display: flex;
    gap: 30px;
    justify-content: start;
    width: 100%;
}

/* Navbar link styles */
.middle-navbar .navbar-link {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.middle-navbar .navbar-link:hover {
    background-color: #ff9900;
}

/* Sticky navbar background color */
.middle-navbar.sticky {
    background-color: #021427;
}


@media (max-width: 645px) {
    .middle-navbar {
        padding: 10px 10px;
        margin-left: 0;
    }

    .middle-navbar .navbar-links {
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .middle-navbar .navbar-link {
        flex-shrink: 1;
        flex-grow: 1;
        text-align: center;
        padding: 8px 10px;
        max-width: 100px;
    }
}